* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    height: 100%;
}

/* PARTE CORPO LOGIN */
.corpo-esquerdo {
    background-color: #3368da;
    /* background-color: #1B325E;  */
    width: 35%; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
}

.links {
    position: absolute;
    top: 20px;
    width: 90%;
    display: flex;
    justify-content: space-between;
}

.links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* PARTE DO FORMS */

.caixa {
    background-color: white;
    padding: 60px;
    border-radius: 8px;
    width: 80%;
}

form {
    display: flex;
    flex-direction: column;
    color: #1B325E;
}

h2{
    text-align: center;
}
p{
    text-align: center;
}

label {
    margin-top: 10px;
    color: #1B325E;
}

input {
    margin-top: 5px;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}

button {
    margin-top: 20px;
    padding: 10px;
    background-color: #467ef7;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}



/* PARTE DREITA/ A IMAGEM */
.corpo-direito {
    width: 55%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

/* VERSAO RESPONSIVA DO LOGIN */
@media (max-width: 767px) { 
    .corpo-direito{
        display: none;
    }
    img{
        display: none;
    }
   
    }
/* PARTE INCOMPLETA */
/* Não sei como deixar responsivo, está dando erro :( */
